# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build files
src-server/public/assets/main.bundle.js
src-server/public/assets/styles.bundle.css
src-server/public/assets/main.bundle.js.map
src-server/public/assets/styles.bundle.css.map

# Compiled files
src-client/**/*.js
src-server/**/*.js
src-shared/**/*.js
src-client/**/*.js.map
src-server/**/*.js.map
src-shared/**/*.js.map

# empty directory
!**/.gitkeep

# Node.js top
!src-server/app.js
