# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build files
server/public/assets/main.bundle.js
server/public/assets/styles.bundle.css
server/public/assets/main.bundle.js.map
server/public/assets/styles.bundle.css.map

# Compiled files
client/src/**/*.js
server/src/**/*.js
shared/src/**/*.js
client/src/**/*.js.map
server/src/**/*.js.map
shared/src/**/*.js.map
shared/src/**/*.d.ts

# Secret files
server/src/server-config.ts

# empty directory
!**/.gitkeep

# Node.js top
!server/src/app.js
