# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build files
server/public/assets/main.bundle.js
server/public/assets/styles.bundle.css
server/public/assets/main.bundle.js.map
server/public/assets/styles.bundle.css.map

# Compiled files
client/**/*.js
server/**/*.js
shared/**/*.js
client/**/*.js.map
server/**/*.js.map
shared/**/*.js.map

# empty directory
!**/.gitkeep

# Node.js top
!server/src/app.js
