<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
  <link type="text/css" href="assets/styles.bundle.css"/>
</head>
<body>
  <%- include('../' + includes, params) %>
  <script src="assets/main.bundle.js"></script>
</body>
</html>
